[alias]
  a = add
  c = commit
  d = diff
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  rbia = rebase -i --autosquash
  ss = status -s
[commit]
  template = ~/.git-commit-template
[core]
  editor = vim
[pull]
  rebase = true
[rerere]
  enabled = true
[user]
  email = lnc@waspy.fr
  name = Helene
